﻿@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Groove.LTL.Presentation.Web</title>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    @RenderBody()
    <script type="text/javascript" src="@Url.Content("~/inline.bundle.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/polyfills.bundle.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/styles.bundle.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/vendor.bundle.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/main.bundle.js")"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
